pandas
numpy
ccxt
scikit-learn
matplotlib
tabulate
pyarrow
pandas-ta-openbb
python-dotenv
--extra-index-url https://download.pytorch.org/whl/nightly/cu128
torch==2.12.0.dev20260408+cu128
stable-baselines3
sb3-contrib
ta
tqdm
gymnasium
python-dateutil
certifi
charset-normalizer
idna
urllib3
requests
scipy
MarkupSafe
jinja2
filelock
fsspec
networkx
sympy
typing-extensions
tzdata
cloudpickle
farama-notifications
