pandas
numpy
ccxt
scikit-learn
matplotlib
tabulate
pyarrow
pandas-ta-openbb
python-dotenv
torch
stable-baselines3
sb3-contrib
ta
tqdm
gymnasium
python-dateutil
certifi
charset-normalizer
idna
urllib3
requests
scipy
MarkupSafe
jinja2
filelock
fsspec
networkx
sympy
triton
typing-extensions
tzdata
cloudpickle
farama-notifications
cuda-toolkit
cuda-bindings
cuda-pathfinder
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
